body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.text {
  font-size: 1em;
  /* margin-bottom: 0.5em; */
  margin-top: 0.7em;
  color: #fff;
  text-align: top;
}

.xs-text {
  font-size: 0.7em;
  /* margin-top: 0.7em; */
  color: #fff;
  text-align: top; 
}

h1 {
  color: #fff;
  text-align: center;
}

.game-title {
  /* font-size: 1em; */
  /* padding-top: 0.6em; */
  color: #fff;
}

.game-price {
  text-align: right;
}


.background {
  background-color: #1b2838;
  height: 100%;
}

.game {
  background-color: #16202d;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.4em;
  padding-left: 0.3em;
}

.pad-r {
  margin-left: 0.8em;
  margin-right: 0.3em;
}

.pad-mobile {
  margin-left: 0.8em;
}

.plus {
  font-size: 1.3em;
}

.divider {
  background-color: #1b2838;
  /* background-color: #ff0000; */
  height: 0.3em;
}

.fa-steam {
  /* margin-bottom: 0.3em; */
  /* padding-top: 0.5em; */
  /* vertical-align: top; */
  /* vertical-align: bottom; */
}

.ant-layout-header {
  /* margin-bottom: 0.7em; */
}

.loginButton {
  width: 100%;
}

.on_sale {
  /* background-color: #4c6b22; */
  color: #90b90c;
}

.on_sale > div {
  margin-bottom: 0.5em;
}


/* div.game {
  display: table;
  height: 100%;
  width: 100%;
}

div.game > div {
  display: table-cell;
  vertical-align: middle;
  margin-bottom: 0.5em;
} */
